<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :birth %><br>
    <%= f.date_select :birth %>
  </div>
  <div class="field">
    <%= f.label :team %><br>
    <%= f.text_field :team %>
  </div>
  <div class="field">
    <%= f.label :back_number %><br>
    <%= f.text_field :back_number %>
  </div>
  <div class="field">
    <%= f.label :bats %><br>
    <%= f.text_field :bats %>
  </div>
  <div class="field">
    <%= f.label :throws %><br>
    <%= f.text_field :throws %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
