<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @player.birth %>
</p>

<p>
  <strong>Team:</strong>
  <%= @player.team %>
</p>

<p>
  <strong>Back number:</strong>
  <%= @player.back_number %>
</p>

<p>
  <strong>Bats:</strong>
  <%= @player.bats %>
</p>

<p>
  <strong>Throws:</strong>
  <%= @player.throws %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
